<div id="post" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/posts'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div fxLayout="column" fxLayoutAlign="start start"
                     [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="pageType ==='edit'">
                        {{post.title}}
                    </div>
                    <div class="h2" *ngIf="pageType ==='new'">
                        Yeni Yazı
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Yazı Detayı</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <button mat-raised-button
                    class="save-post-button"
                    [disabled]="postForm.invalid"
                    *ngIf="pageType ==='new'" (click)="addPost()">
                <span>EKLE</span>
            </button>

            <button mat-raised-button
                    class="save-post-button"
                    [disabled]="postForm.invalid || (postForm.pristine && !imageChanged)"
                    *ngIf="pageType ==='edit'" (click)="savePost()">
                <span>KAYDET</span>
            </button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">

                <mat-tab-group>
                        <mat-tab label="Yazı Detayı">
                            <div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row" fxFlex="100">
                                <form class="p-24 mr-24" fxLayout="column" fxLayoutAlign="start"
                                    fxFlex="1 0 auto" name="postForm" [formGroup]="postForm">

                                    <input type="hidden" name="id" formControlName="id">

                                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                                        <mat-form-field appearance="outline" floatLabel="always" fxFlex="100">
                                                <mat-label>Yazı Başlığı</mat-label>
                                                <input matInput placeholder="Yazı Başlığı"
                                                        name="title"
                                                        formControlName="title"
                                                        required>
                                            </mat-form-field>
                        
                                    </div>
                    
                                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    
                                        <mat-form-field fxFlex="50" class="pr-4" appearance="outline">
                                            <mat-label>Kategori</mat-label>
                                            <mat-select formControlName="categoryIds" multiple required>
                                                <mat-option *ngFor="let category of categoryList; let j = index" [value]="categoryList[j].id">
                                                    {{category.adi}}
                                                </mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="postForm.get('categoryIds').hasError('required')">
                                                Lütfen kategori seçiniz
                                            </mat-error>
                                        </mat-form-field>                

                                        <mat-form-field fxFlex="50" class="pr-4" appearance="outline">
                                            <mat-label>Durum</mat-label>
                                            <mat-select formControlName="statusTypeId" required>
                                                <mat-option *ngFor="let status of statusList; let j = index" [value]="statusList[j].id">
                                                    {{status.adi}}
                                                </mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="postForm.get('statusTypeId').hasError('required')">
                                                Lütfen durum seçiniz
                                            </mat-error>
                                        </mat-form-field>  
                    
                                    </div>

                                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                        <mat-form-field appearance="outline" fxFlex="50">
                                            <mat-label>Yayın Tarihi</mat-label>
                                            <input matInput [matDatepicker]="birthdayDatePicker" 
                                                name="publishDate" 
                                                formControlName="publishDate"
                                                required>
                                            <mat-datepicker-toggle matSuffix [for]="birthdayDatePicker"></mat-datepicker-toggle>
                                            <mat-datepicker #birthdayDatePicker></mat-datepicker>
                                        </mat-form-field>

                                        <mat-checkbox class="mat-check" aria-label="Sliderda Görünsün mü?" formControlName="isSliderPost">
                                            Sliderda Görünsün mü
                                        </mat-checkbox>
                                    </div>

                                    <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                        <ckeditor [editor]="Editor" formControlName="content" fxFlex="100"></ckeditor>                    
                                    </div>
                                </form>
                            </div>
                        </mat-tab>
                        <mat-tab label="Resim">
                            <div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">                                    <input
                                    style="display: none"
                                    type="file" (change)="onFileChanged($event)"
                                    #fileInput>
                                <button mat-mini-fab
                                    color="warn"
                                    (click)="fileInput.click()"
                                    aria-label="Resim ekle">
                                    <mat-icon>add</mat-icon>
                                </button>
                            </div>
                            <div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">
                                <img *ngIf="post.mainImage !='' && post.mainImage != null" [src]="post.mainImage" [alt]="post.title"/> 
                                <img *ngIf="post.imagePath !='' && post.imagePath != null" [src]="_globalConstants.siteUrl + post.imagePath" [alt]="post.title"/> 
                            </div>
                        </mat-tab>
                </mat-tab-group>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
