<div class="sidebar-content">

    <div class="card">

        <!-- SIDEBAR HEADER -->
        <div class="header p-24" fxLayout="row" fxLayoutAlign="start center">

            <!-- USER -->
            <img [src]="_authenticationService.avatar" class="avatar mr-16" [alt]="_authenticationService.currentUser.name"/>
            <span class="h5">{{user.name}}</span>
            <!--/ USER -->

        </div>
        <!-- / SIDEBAR HEADER -->

        <!-- SIDEBAR CONTENT -->
        <div class="content py-16" fusePerfectScrollbar>

            <div class="nav material2">

                <div class="nav-item" aria-label="inbox">
                    <a class="nav-link" matRipple (click)="changeFilter('all')"
                       [ngClass]="{'active accent':filterBy ==='all'}">
                        <span class="title">Tümü</span>
                    </a>
                </div>  
                
                <div class="nav-item" aria-label="editor users" (click)="changeFilter('editors')">
                    <a class="nav-link" matRipple [ngClass]="{'active accent':filterBy ==='editors'}">
                        <div class="title">Editörler</div>
                    </a>
                </div>

                <div class="nav-item" aria-label="admin users" (click)="changeFilter('admins')">
                    <a class="nav-link" matRipple [ngClass]="{'active accent':filterBy ==='admins'}">
                        <div class="title">Yöneticiler</div>
                    </a>
                </div>

                <div class="nav-item" aria-label="normal users" (click)="changeFilter('users')">
                    <a class="nav-link" matRipple [ngClass]="{'active accent':filterBy ==='users'}">
                        <div class="title">Kullanıcılar</div>
                    </a>
                </div>
            </div>

        </div>

    </div>

</div>
<!-- / SIDEBAR CONTENT -->
