<mat-table #table [dataSource]="dataSource" [@animateStagger]="{value:'50'}">

    <!-- Type Column -->
    <ng-container matColumnDef="icon">
        <mat-header-cell *matHeaderCellDef fxFlex="64px"></mat-header-cell>
        <mat-cell *matCellDef="let row" fxFlex="64px">
            <mat-icon class="type-icon" [ngClass]="row.type"></mat-icon>
        </mat-cell>
    </ng-container>

    <!-- File Name Column -->
    <ng-container matColumnDef="fileName">
        <mat-header-cell *matHeaderCellDef>Dosya Adı</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.fileName}}</mat-cell>
    </ng-container>

    <!-- File TypeName Column -->
    <ng-container matColumnDef="fileTypeName">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Tipi</mat-header-cell>
        <mat-cell *matCellDef="let row" fxHide fxShow.gt-md> {{row.fileTypeName}}</mat-cell>
    </ng-container>

    <!-- Size Column -->
    <ng-container matColumnDef="size">
        <mat-header-cell *matHeaderCellDef fxHide.xs>Boyut</mat-header-cell>
        <mat-cell *matCellDef="let row" fxHide.xs>{{row.size}}</mat-cell>
    </ng-container>

    <!-- Detail Button Column -->
    <ng-container matColumnDef="detail-button">
        <mat-header-cell *matHeaderCellDef fxFlex="48px" fxHide.gt-md></mat-header-cell>
        <mat-cell *matCellDef="let row" fxFlex="48px" fxHide.gt-md>
            <button mat-icon-button class="sidebar-toggle" fxHide.gt-md
                    (click)="toggleSidebar('file-manager-details-sidebar')">
                <mat-icon class="secondary-text">info</mat-icon>
            </button>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"
             (click)="onSelect(row)"
             [ngClass]="{'selected' : row == selected}"
             matRipple [@animate]="{value:'*',params:{y:'100%'}}"
    >
    </mat-row>
</mat-table>

<mat-paginator #paginator
            [length]="dataSource.filteredDataCount"
            [pageIndex]="0"
            [pageSize]="10"
            [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>
